[Unit]
Description=edy-rdp guacd relay socket (sole ingress)

[Socket]
ListenStream=/run/edy-rdp/guacd.sock
SocketMode=0660
SocketUser=root
SocketGroup=edy-rdp
FileDescriptorName=data

[Install]
WantedBy=sockets.target
