[Unit]
Description=Run the edy-rdp session reaper frequently

[Timer]
OnBootSec=60
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
